body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Header */

header {
    background: black;
    background-image: url("images/hero.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

header .mobile {
    display: none;
}

header .logo a {
    background-image: url("images/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    width: 300px;
    text-indent: -99999999px;
    position: relative;
    top: -30px;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* Responsive Rulkes */
@media screen and (max-width: 720px) {
    header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
    }
}

/* Features */

.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.features figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30%;
    box-shadow: gray 0px 0px 10px;
    border: 1px solid white;
}

/* Responsive Rules */

@media screen and (max-width: 720px) {
}

footer {
    background: black;
    color: gray;
    font-size: 12px;
    text-align: center;
    padding: 10px 20px;
}
